          <div id="ApplicationBasketHeader" class="clearfix">
            <div class="search clearfix">
              <div class="inline item"><label for="searchKeyword">Suchbegriff:</label><input id="searchKeyword" type="text" /></div>
              <button id="SearchButton" class="action button"><span class="search-icon">Suchen</span></button>
            </div>

            <ul class="taskCount">
              <li><div class="red box"></div>: 3</li>
              <li><div class="yellow box"></div>: 0</li>
              <li><div class="white box"></div>: 0</li>
              <li><div class="blue box"></div>: 1</li>
              <li><div class="green box"></div>: 1</li>
            </ul>
          </div>

          <table id="ApplicationBasket">
            <thead>
            <tr>
              <th><div class="wrapper interviewDate">Interviewtermin</div></th>
              <th><div class="wrapper applicationNumber">Antragsnummer</div></th>
              <th><div class="wrapper">Interviewte Person</div></th>
              <th><div class="wrapper fon">Telefonnummer</div></th>
              <th><div class="wrapper">Mandant</div></th>
              <th><div class="wrapper">Interviewstatus</div></th>
              <th><div class="wrapper">Hauptprodukt</div></th>
              <th hidden="true"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="red">
              <td><div class="wrapper interviewDate">10.05.2011 10:00</div></td>
              <td><div class="wrapper applicationNumber">HLR--10002266</div></td>
              <td><div class="wrapper"><span class="gender">Herr</span> <span class="firstname">Hans</span> <span class="familyname">Maiser</span></div></td>
              <td><div class="wrapper fon">08912345</div></td>
              <td><div class="wrapper">hlren</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td hidden="true"><div class="applicationCreatedDate">14.05.2011</div></td>
            </tr>
            <tr class="red">
              <td><div class="wrapper interviewDate">14.05.2011 14:00</div></td>
              <td><div class="wrapper applicationNumber">HLR--10002267</div></td>
              <td><div class="wrapper"><span class="gender">Herr</span> <span class="firstname">Matthias</span> <span class="familyname">Mildner</span></div></td>
              <td><div class="wrapper fon">+49 (0) 123 324 35</div></td>
              <td><div class="wrapper">hlren</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td hidden="true"><div class="applicationCreatedDate">04.08.2011</div></td>
            </tr>
            <tr class="yellow">
              <td><div class="wrapper interviewDate">10.04.2011 10:00</div></td>
              <td><div class="wrapper applicationNumber">HLR--20002266</div></td>
              <td><div class="wrapper"><span class="gender">Frau</span> <span class="firstname">Sandra</span> <span class="familyname">Müller</span></div></td>
              <td><div class="wrapper fon">34578923</div></td>
              <td><div class="wrapper">hlren</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td hidden="true"><div class="applicationCreatedDate">14.05.2011</div></td>
            </tr>
            <tr class="red">
              <td><div class="wrapper interviewDate">11.05.2011 09:00</div></td>
              <td><div class="wrapper applicationNumber">HLR--10004266</div></td>
              <td><div class="wrapper"><span class="gender">Herr</span> <span class="firstname">Markus</span> <span class="familyname">Maiser</span></div></td>
              <td><div class="wrapper fon">040040040</div></td>
              <td><div class="wrapper">hlren</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td hidden="true"><div class="applicationCreatedDate">17.05.2011</div></td>
            </tr>
            <tr class="blue">
              <td><div class="wrapper interviewDate">16.05.2011 17:00</div></td>
              <td><div class="wrapper applicationNumber">HLR--100022634</div></td>
              <td><div class="wrapper"><span class="gender">Frau</span> <span class="firstname">Birgitt</span> <span class="familyname">Fischow</span></div></td>
              <td><div class="wrapper fon">030030030</div></td>
              <td><div class="wrapper">hlren</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td><div class="wrapper">&nbsp;</div></td>
              <td hidden="true"><div class="applicationCreatedDate">14.04.2011</div></td>
            </tr>
            </tbody>
          </table>
